spring:
  profiles:
    active: local

server:
  port: 8094

---
spring:
  profiles: local
  datasource:
    url: jdbc:mysql://yjinstance.cvfd8m7cgyo4.ap-northeast-2.rds.amazonaws.com:3306/shared_economy?useSSL=false&serverTimezone=Asia/Seoul
    username: root
    password: 11111111
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database: mysql
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
  http:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

---
spring:
  profiles: test
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  h2:
    console:
      enabled: true
server:
  port: 8096


